<%- include('includes/head'); %>
<%- include('includes/nav'); %>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Calendário</h1>
            <p class="text-center lead">Selecione o dia que deseja criar um evento</p>
            <%- include('includes/messages') %>

            <%- include('includes/calendario') %>
        </div>
        <div class="col-lg-2"></div>
    </div>
<%- include('includes/footer'); %>
