<%- include('includes/head'); %>
    <%- include('includes/nav'); %>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center">Calendário</h1>
                <p class="text-center lead">Edite ou exclua seus eventos abaixo</p>
                <%- include('includes/messages') %>

                    <% if(events.length> 0) { %>
                        <div class="responsive-table">
                            <table class="table my-3">
                                <% events.forEach(event=> { %>
                                    <tr>
                                        <td>
                                            <label class="fw-bold">Descrição</label>
                                            <%= event.descricao %>
                                        </td>
                                        <td>
                                            <label class="fw-bold">Hora de Início</label><br>
                                            <%= event.horaInicio %>
                                        </td>
                                        <td>
                                            <label class="fw-bold">Hora de Término</label><br>
                                            <%= event.horaTermino %>
                                        </td>
                                        <td>
                                                <form method="GET" action="/events/update/<%= event._id%>">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button class="btn btn-primary" type="submit">Editar</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="POST" action="/events/delete/<%= event._id %>?_method=DELETE">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button class="btn btn-danger" type="submit">Excluir</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </table>
                        </div>
                        <%} else { %>
                            <p class="text-center lead">Não existem eventos na sua agenda.</p>
                            <%} %>

            </div>
            <div class="col-lg-2"></div>
        </div>

        <%- include('includes/footer'); %>